@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');

html {
	background-color: antiquewhite;
	font-family: "Hind Vadodara";
  }

#container
{
	margin: 0 30px;
	background: #fff;
	background: antiquewhite;
}

#header
{
	background: #ccc;
	padding: 20px;
	background: rgb(195,34,34);
	background: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(60,219,39,1) 50%, rgba(80,45,253,1) 100%);
	border-radius: 10px;
}

#header h1 { 
	margin: 0; 
	text-align: center;
	font-family: "Rubik Mono One";
}

h2 {
	text-align: center;
	font-family: "Rubik Mono One";
  }
  

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	background: rgb(195,34,34);
	background: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(60,219,39,1) 50%, rgba(80,45,253,1) 100%);
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	background: rgb(195,34,34);
	background: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(60,219,39,1) 50%, rgba(80,45,253,1) 100%);
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
	background: rgb(195,34,34);
	background: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(60,219,39,1) 50%, rgba(80,45,253,1) 100%);
	border-radius: 10px;
	text-align: center;
}

p img {
	width: 100%;
}